node_modules
dist

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
# Uncomment the below to include local package mirror in git repo
# Warning: it can be quite large!
#!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# puppeteer cache
.cache/puppeteer/*

